/* Source Sans Pro (ligth 300, semiBold 600, bold 700, Black 900)*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');


/* STANDARDS OF MY SITE*/ 
*{
    margin:0;
    padding:0;
    box-sizing: content-box;
}

body{
    width: 100%;
    height: 100%;
}

/*------CENTER ALL------*/ 
.container{
    width: 1120px;
    margin: auto;
}

/* ------------------------------------------
                 START HEADER
--------------------------------------------- */
header{
    display: flex;
    width: 100%;
}

.box-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 66px;
}

.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box-hamburguer i{
    font-size: 2rem;
    display: none;
}

.logo{
    width: 5rem;
}

.menu{
    display: flex;
}

.btnClose i{
    position: absolute;
    display: none;
    cursor: pointer;
    top: 20px;
    right: 10px;
}

.menu-itens{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;  
}

.menu-itens a{
    font-family: Source Sans Pro, sans-serif;
    color: #707070;
    text-decoration: none;
}

.menu-itens a:hover{
    font-weight: 900;
    color: #000000;
    font-size: 1.3125rem;
}


/* ------------------------------------------
                 START MAIN
--------------------------------------------- */

main{
    display: flex;
    width: 100%;
}

.box-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.info-txt{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    width: 50%;
}

.info-title{
    font-size: 3rem;
    font-family: Source Sans Pro, sans-serif;
    color: #000000;
    font-weight: 700;
}

.info-subTitle{
    font-size: 1.57rem;
    font-family: Source Sans Pro, sans-serif;
    color: #45CFC9;
    font-weight: 700;
}

.info-paragraph{
    font-size: 1.57rem;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 300;
    color: #000000;
}

.info-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url("../Img/27\ Plum.png");   
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 22.125rem;
    width: 50%;
    /*filter: blur(2.5px);*/
    margin: 3rem 0;
}

.img-mustard{
    width: 67%;
}

.img-olive{
    width: 30%;
}

/* ------------------------------------------
                START FILTER  
--------------------------------------------- */


.box-filter{
   display: flex;
   flex-direction: column;
   width: 100%; 
}

.filter-navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.drop-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: none;
}

.drop-filter select{ 
    display: flex;
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    font-family: Source Sans Pro, sans-serif;
}


.filter-list{
    display: flex;
}

.filter-itens{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 12rem;
    height: 2rem;
    margin-bottom: 1rem;
}

.filter-itens a{
    font-size: 1.5rem;
    font-family: Source Sans Pro, sans-serif;
    color: #000000;
    font-weight: 600;
    text-decoration: none;
}

.filter-itens a:hover{
    font-weight: 900;
    border-bottom: 2.5px solid red;
}


/* ------------------------------------------
             START MODEL ARTS
--------------------------------------------- */

.box-model-arts{
    display: flex;
    background-color: #B4F8F7;
    width: 100%;
}

.model-arts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.arts{
    display: flex;
    width: 47%;
    margin-top: 3rem;
}

.arts img{
    display: flex;
    width: 100%;
}

.see-more{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 5rem 0;
}
.see-more-txt{
    cursor: pointer;
    font-size: 1.57rem;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 900;
    color: #000000;
    text-transform: uppercase;
}

.see-more-txt:hover{
    text-decoration: 2.5px red underline;
}


/* ------------------------------------------
                 START FOOTER
--------------------------------------------- */

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F8F3A1;
}

.box-top{
    display: flex;
    width: 100%;
}

.box-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.logoTxt{
    font-family: Source Sans Pro, sans-serif;
    color: #000000;
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
}

.box-copyright p{
    font-family: Source Sans Pro, sans-serif;
    color: #000000;
    font-weight: 900;
    font-size: 1.3rem;
}

.box-copyright a{
    font-family: Source Sans Pro, sans-serif;
    color: #000000;
    font-weight: 300;
    font-size: 1.3rem;
    text-decoration: none;
}


.box-email p{
    font-family: Source Sans Pro, sans-serif;
    color: #000000;
    font-weight: 900;
    font-size: 1.3rem;
}

.box-email a{
    font-family: Source Sans Pro, sans-serif;
    color: #000000;
    font-weight: 300;
    font-size: 1.3rem;
    text-decoration: none;
}

.icon-fb{
    width: 0.7rem;
}

.icons-svg{
    width: 1.5rem;
    margin-left: 2rem;
}

.box-layout{
    padding-bottom: 2.3rem;
}

.box-layout{
    font-family: Source Sans Pro, sans-serif;
    color: #000000;
    font-weight: 300;
}


/* ------------------------------------------
          RESPONSIVE FOR IPAD PRO
--------------------------------------------- */ 
@media screen and (max-width: 1120px)
{
    .container{
        width: 900px;
    }

    /*------CHANGE MENU------*/
    .info-title{
        font-size: 2.5rem;
    }
    
    .info-subTitle, .info-paragraph{
        font-size: 1.27rem;
    }
    
    .info-img{
        background-size: 60%;
    }
    
    /*------CHANGE FILTER------*/
    .filter-itens{
        width: 10rem;
    }

    .filter-itens a{
        font-size: 1.2rem;
    }

    /*------CHANGE MODEL ARTS------*/
    .see-more{
        margin: 2.5rem 0;
    }
    
    .see-more-txt{
        cursor: pointer;
        font-size: 1.2rem;
        font-family: Source Sans Pro, sans-serif;
        font-weight: 900;
        color: #000000;
        text-transform: uppercase;
    }
}


/* ------------------------------------------
          RESPONSIVE FOR IPAD 
--------------------------------------------- */ 
@media screen and (max-width: 900px)
{
    .container{
        width: 700px;
    }

    /*------CHANGE MENU------*/
    .menu-itens a{
        font-size: 0.8rem;
    }

    /*------CHANGE MAIN------*/
    .info-title{
        font-size: 2rem;
    }
    
    .info-subTitle, .info-paragraph{
        font-size: 1.07rem;
    }
    
    /*------CHANGE FILTER------*/
    .filter-itens{
        width: 8rem;
    }

    .filter-itens a{
        font-size: 1rem;
    }

    /*------CHANGE FOOTER------*/
    .logoTxt{
        font-size: 1.5rem;
    }

    .box-copyright p, .box-copyright a, .box-email p, .box-email a{
        font-size: 0.8rem;
    }

    .icon-fb{
        width: 0.6rem;
    }

    .icons-svg{
        width: 1.1rem;
        margin-left: 1.5rem;
    }

    .box-layout{
        padding-bottom: 2.3rem;
        font-size: 0.7rem;
    }
}

/* ------------------------------------------
          RESPONSIVE FOR MOBILE
--------------------------------------------- */ 
@media screen and (max-width: 765px)
{
    .container{
        width: 340px;
    }

    /*------CHANGE MENU------*/
    .box-hamburguer i{
        display: flex;
        margin: 0 1rem;
    }

    /* 
        TRANSFORM MENU VERTICAL
    */
    .box-hamburguer i:hover{
        cursor: pointer;
    }

    header{
        justify-content: flex-start;
    }

    .header-menu.responsive {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 50vw; 
        height: 100vh;
        background-color: rgb(89, 53, 88);
        overflow-x: hidden;
    }
    
    .header-menu.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .header-menu.responsive .btnClose i{
        display: flex;
        color: white;
    }

    .header-menu.responsive .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    /*
        CONTINUE MENU
    */
    .menu{
        display: none;
    }

    .menu-itens{
        justify-content: flex-start;
        height: 2rem;
        margin: 0.5rem 0;
        background-color: rgb(193, 147, 45);
        border-left: 1rem solid rgb(102, 101, 56);
    }

    .menu-itens a{
        color: black;
        margin-left: 0.5rem;
    }

    /*------CHANGE MAIN------*/
    .info-img{
        background-size: 60%;
        margin: 0;
    }


    /*------CHANGE MODEL ARTS------*/
    .model-arts{
        flex-direction: column;
    }

    .arts{
        width: 100%;
        margin-top: 1rem;
    }

    /*------CHANGE FILTER------*/
    .filter-navigation{
        display: none;
    }

    .drop-filter{
        display: flex;
    }

   /*------CHANGE FOOTER------*/
    .box-contact{
       flex-wrap: wrap;
        margin: 1rem 0;
    } 

    .logoTxt{
        font-size: 0.8rem;
    }

   .box-copyright p, .box-email p{
        font-size: 0.93rem;
    }

    .box-copyright a, .box-email a{
        font-size: 0.7rem; 
    }

    .box-icons{
        margin-top: 1rem;
        border-top: 1.5px solid black;
        padding-top:1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .icon-fb{
        width: 0.45rem;
    }

    .icons-svg{
        width: 0.8rem;
    }

    .box-layout{
        padding-bottom: 1rem;
        font-size: 0.2rem;
    }

}


/* ------------------------------------------
            RESPONSIVE ADJUSTMENT 
--------------------------------------------- */ 
@media screen and (max-width: 340px){
    .container{
        width: 260px;
    }

    .box-copyright p, .box-email p{
        font-size: 0.8rem;
    }

    .box-copyright a, .box-email a{
        font-size: 0.6rem; 
    }
}